{{#each this}}
<div class="photo-card">
    <img class="gallery-img" src="{{webformatURL}}" alt="{{tags}}" data-src="{{largeImageURL}} width="500" loading="lazy" />
<div class="info">
    <p class="info-item">
        <span class="material-icons">
            favorite
        </span>{{likes}}
    </p>
    <p class="info-item">
        <span class="material-icons">
            visibility
        </span>{{views}}
    </p>
    <p class="info-item">
        <span class="material-icons">
            rate_review
        </span>{{comments}}
    </p>
    <p class="info-item">
        <span class="material-icons">
            download
        </span>{{downloads}}
    </p>
</div>
</div>
{{/each}}